{%  extends "layout.html" %}
{% block content %}
    <div class="content-section col-md-8 ">
        <h3>Login</h3>
        <br/>
        <form action="{{ url_for('login.login') }}" method="post">
            <div class="msg">{{ msg }}</div>
            <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
            <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
            <input type="submit" class="btn-outline-dark" value="Sign In">
        </form>
    </div>
    <div class="border-top pt-3 col-md-8">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{ url_for('register.register') }}">Sign Up</a>
        </small>
    </div>
{% endblock content %}