{%  extends "layout.html" %}
{% block content %}
     <div class="content-section col-md-8 ">
        <h3>Register</h3>
        <br/>
        <form action="{{ url_for('register.register') }}" method="post">
            <div class="msg">{{ msg }}</div>
            <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
            <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
            <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
            <input type="submit" class="btn-outline-dark" value="Sign Up">
        </form>
    </div>
    <div class="border-top pt-3 col-md-8">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('register.register') }}">Sign In here</a>
        </small>
    </div>
{% endblock content %}